@font-face {
    font-family: "Bookman";
    src: url("Font\bookman\bookman-bold.ttf") format("truetype");
    font-weight: bold;
    color: black;
}

.HD {
    display: flex;
    align-items: center; 
    
}

.Name {
    margin-left: 5%;
    width: 30%;
    font-family: "Bookman",sans-serif;
    font-weight: bold;
    
    font-size: 36px;
}

.CD {
    text-decoration: none;
    background: linear-gradient(to right, rgb(0, 187, 255), rgb(255, 0, 102), rgb(47, 0, 128));
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent; 
}

.Login {
    width: 15%;
    text-decoration: none;
    padding: 0.8%;
    font-size: 18px;
    text-align: center;
    
}

.LG {
    text-decoration: none;
    color: black;
}

.LG i{
    margin-left: 5%;
    font-size: 20px;
}

.KT {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.Menu {
    display: flex;
    width: 45%;
    margin: 0 auto;
}

.navMenu {
    display: flex;
    text-align: center;
    padding: 2%;
    gap: 25%;
    margin-left: 15%;
}

.navMenu a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #191825;
    font-size: 17px;  
    opacity: 0.5; 
}

.navMenu a:first-child {
    opacity: 1;
    text-decoration: underline;
}

.navMenu a:hover {
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
}

.LG:hover{
    text-decoration: underline;
    cursor: pointer;
}

.TotalLeft {
    width: 80%;
    float: left;
}

.TotalRight {
    float: left;
    width: 20%;
}

.Ga {
    top: 70%;
    width: 14%;
    margin-left: 6%;
    position: fixed;      
}

.Left {
    width: 100%;
    float: left;
}

.Left p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

hr { 
    width: 100%;          
}


.Bottom {
    clear: both;
    display: flex;
    justify-content: space-between;
    padding: 4%;
    margin-right: 1%;
}

.IMG {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
    width: 84%;
}

.left-content {
    width: 50%;
    
}

.right-content {
    width: 40%;
    background-color: #fff;
    color: #333;
    padding: 2.5%;
    border-radius: 8px;
}

.right-content h2 {
    margin-left: 25%;
    margin-top: 0;
}

.right-content input {
    width: 94%;
    padding: 2%;
    margin: 2.5% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.right-content button {
    width:99%;
    padding: 2%;
    border: none;
    color: white;
    background-color: #46c65f;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2.5% 0 0 0;
}

.status-container {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.status-text {
    font-weight: bold;
}

.DKN {
    margin-top: 10%;
    display: flex;
}

.ICT {
    float: left;
}

.DC {
    clear: both;
    margin-top: 10%;
}

.GaRan {
    width: 100%;
}

.GaRanIMG {
    width: 100%;
}

.container {
    width: 96vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

.DK {
    border: none;
    background: transparent;
    width: 100%;
}

.TotalRight img {
    display: none;
}

@media (max-width: 2000px) {

    .TotalRight img:first-child {
        display: inline-block;
    }

    .TotalRight img:nth-child(2) {
        display: inline-block;
    }

    .TotalRight img:nth-child(3) {
        display: inline-block;
    }

    .TotalRight img:nth-child(4) {
        display: inline-block;
    }
}

@media (max-width: 1024px) {

    .TotalRight img:nth-child(5) {
        display: inline-block;
    }
}

@media (max-width: 820px) {
    .Menu {
        display: none; 
    }
    .Name {
        width: 100%;
    }

    .Login {
        display: none;
    }

    .TotalRight img:nth-child(6) {
        display: inline-block;
    }

    .right-content h2 {
        margin-left: 15%;
    }
    
}

@media (max-width: 654px) {
    .right-content h2 {
        margin-left: 5%;
    }
    
}

@media (max-width: 614px) {
    .TotalRight img:nth-child(7) {
        display: inline-block;
    }

    .right-content h2 {
        font-size: 20px;
        margin-left: 5%;
    }
    
    
}

@media (max-width: 537px) {
    .TotalRight img:nth-child(8) {
        display: inline-block;
    }
    .right-content h2 {
        font-size: 16px;
        margin: 7% 3% 7% 5%;
    }
    .right-content input {
        width: 94%;
        padding: 3%;
        margin: 5% 0 5% 0;
    }
    
    .right-content button {
        width:99%;
        padding: 2%;
        margin: 5% 0 5% 0;
    }

    .DC {
        margin-top: 2%;
    }

    .DKN {
        margin-top: 2%;
    }
    
}

@media (max-width: 500px) {
    .TotalRight img:nth-child(9) {
        display: inline-block;
    }
    
}

@media (max-width: 458px) {
    .TotalRight img:nth-child(10) {
        display: inline-block;
    }
}

@media (max-width: 430px) {

    .TotalRight img:nth-child(12) {
        display: inline-block;
    }

    .right-content h2 {
        font-size: 14px;
        margin: 7% 3% 7% 5%;
    }
    .right-content input {
        width: 94%;
        padding: 3%;
        margin: 5% 0 5% 0;
    }
    
    .right-content button {
        width:99%;
        padding: 2%;
        margin: 5% 0 5% 0;
    }

    .DC {
        margin-top: 2%;
    }

    .DKN {
        margin-top: 2%;
    }

    
}

@media (max-width: 412px) {

    .TotalRight img:nth-child(13) {
        display: inline-block;
    }
}

@media (max-width: 390px) {

    .TotalRight img:nth-child(13) {
        display: none;
    }

    .TotalRight img:nth-child(11) {
        display: inline-block;
    }
    
}

@media (max-width: 376px) {
    .TotalRight img:nth-child(14) {
        display: inline-block;
    }

}